@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

// Body
body {
  font-family: 'Ubuntu', sans-serif !important;
  background: #17202e !important;
  color: #fff !important;
}


// Navigation Bar

#navigation {
  min-height: 130px;
}

.nav {
  &-dark {
    background-color: #131924;
    min-height: 65px;
  }

  &-light {
    background-color: #fff;
    min-height: 65px;
  } 

  &-dark-text {
    color: #434456;
  }

  &-light-text {
    color: #fff;
  }

  &-secondary {
    margin-top: 65px;
    box-shadow: 0 2px 10px rgba(0,0,0,.43);
  }
}

// Text Styling

.text {

  &-x-large {
    font-size: 2rem;
  }
  
  &-large {
    font-size: 1.25rem !important;
  }

  &-medium {
    font-size: 1.125rem !important;
  }

  &-small {
    font-size: .875rem;
  }

}

.dark-text {

  &-light {
    color: #8091ab;
  }
}

.light-text {
  color: #fff
}

// Containers

.container-fluid {
  width: 95% !important;
}


// Cards

.chart {

  &-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
  }
}

.grid {
  &-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
  }
}

.card {

  &-dark {
    background: #202a3b!important;
  }

  &-light {
    background: #fff !important;
  }

  &-heading {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    min-height: 30px;
  }
}


// Media Queries

@media screen and (min-width: 991px) {
  
  .full-height {
      height: 100%!important;
  }

}